// Text colors
$textcolor1: #333333;
$textcolor2: #ffffff;

// Main colors
$maincolor1: #6e551b;
$maincolor2: #3c2f10;

// Base colors
$basecolor1: #ffffff;
$basecolor2: #e2ddd1;

// Accent color
$accentcolor: #23460f;

// Overlay colors
$overlay1: rgba(60, 47, 16, 0.3);
$overlay2: rgba(255, 255, 255, 0.85);


// Font Variables
$caslon: "Libre Caslon Text";
$serif: "Noto Serif JP";
$sans: "Noto Sans JP";